.center{
    text-align: center;
}

.left{
    text-align: left;
}

.underline{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.header{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;
    font-family: Georgia, Georgia, serif;
}

.emphasis{
    font-size: large;
    font-weight: bold;
}